<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @business.alias %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @business.slug %>
</p>

<p>
  <strong>Description:</strong>
  <%= @business.description %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @business.neighborhood_id %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
