<h1>Listing geopoints</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Street name</th>
      <th>Block number</th>
      <th>Postal code</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @geopoints.each do |geopoint| %>
      <tr>
        <td><%= geopoint.address %></td>
        <td><%= geopoint.street_name %></td>
        <td><%= geopoint.block_number %></td>
        <td><%= geopoint.postal_code %></td>
        <td><%= geopoint.latitude %></td>
        <td><%= geopoint.longitude %></td>
        <td><%= link_to 'Show', geopoint %></td>
        <td><%= link_to 'Edit', edit_geopoint_path(geopoint) %></td>
        <td><%= link_to 'Destroy', geopoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geopoint', new_geopoint_path %>
