

        <div class="portlet ui-sortable">
              <% if !current_user.apartments.first.blank? && !current_user.apartments.first.neighborhood.blank? %>
              <section class="panel portlet-item panel-success">
                <header class="panel-heading">
                  Neighborhood - <%= current_user.apartments.first.neighborhood.alias unless current_user.apartments.first.neighborhood.nil? %>
                </header>
                <div class="list-group bg-white">
                  <%= link_to neighborhood_posts_path(current_user.apartments.first.neighborhood), :class => "list-group-item"  do %>
                      <i class="fa fa-home"></i>&nbsp;&nbsp;  Wall
                  <% end %>   
                  <%= link_to neighborhood_residents_path(current_user.apartments.first.neighborhood), :class => "list-group-item"  do %>
                      <i class="fa fa-group"></i>&nbsp;&nbsp;  Residents
                  <% end %>
                  <%= link_to neighborhood_groups_path(current_user.apartments.first.neighborhood), :class => "list-group-item"  do %>
                      <i class="fa fa-th-large"></i>&nbsp;&nbsp;  Groups
                  <% end %>
                  <%= link_to neighborhood_events_path(current_user.apartments.first.neighborhood), :class => "list-group-item"  do %>
                      <i class="fa fa-calendar"></i>&nbsp;&nbsp;  Events
                  <% end %>                     
                </div>
              <% end %>
              <% if !current_user.apartments.first.blank? && !current_user.apartments.first.name.blank? %>
                <header class="panel-heading">
                  Apartment - <%= current_user.apartments.first.name unless current_user.apartments.first.nil? %>
                </header>
                <div class="list-group bg-white">
                  <%= link_to apartment_posts_path(current_user.apartments.first), :class => "list-group-item"  do %>
                      <i class="fa fa-home"></i>&nbsp;&nbsp;  Wall
                  <% end %>   
                  <%= link_to apartment_residents_path(current_user.apartments.first), :class => "list-group-item"  do %>
                      <i class="fa fa-group"></i>&nbsp;&nbsp;  Residents
                  <% end %>              
                </div>              
              <% end %>
              </section>


               <section class="panel panel-success">
                <header class="panel-heading">
                  Personal
                </header>
                <div class="list-group bg-white">
                  <%= link_to user_path(current_user), :class => "list-group-item"  do %>
                      <i class="fa fa-user"></i>&nbsp;&nbsp;  Profile
                  <% end %>   
                  <%= link_to conversations_path, :class => "list-group-item"  do %>
                      <i class="fa fa-envelope"></i>&nbsp;&nbsp;  Messages
                  <% end %> 
                  <%= link_to edit_user_registration_path, :class => "list-group-item"  do %>
                      <i class="fa fa-cogs"></i>&nbsp;&nbsp;  Settings
                  <% end %>
                </div>
              </section>
              
              
            </div>

